name: CI

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    env:
      JWT_SECRET_KEY : ${{ secrets.JWT_SECRET_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run test
        run: ./gradlew test

      - name: Build project
        run: ./gradlew build -x test

      - name: Build Docker Image (amd64)
        run: docker build --platform linux/amd64 -t team08-app:ci .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image (amd64)
        run: |
          docker build --platform linux/amd64 -t sang234/team08-app:latest .
          docker push sang234/team08-app:latest